<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>

<h2> It is advisable to undergo the following medical tests </h2>

<h3><b>Blood Pressure Screening </b></h3>
<p>The American Heart Association (AHA) says that if your blood pressure is below 120/80 millimeters of mercury (mm Hg), which is the ideal reading, you should have it checked at least once every two years, starting at age 20. For adults ages 40 or older, African-Americans, or for those with conditions like obesity that put them at increased risk for hypertension, the United States Preventive Services Task Force (USPSTF) recommends an annual screening.</p>

<h3><b>Cholesterol Check</b></h3>
<p>This is a tool used to assess your risk for developing heart disease or stroke. If you're age 20 or older, you should have your cholesterol measured at least once every five years, says the National Institutes of Health. Your total cholesterol levels should ideally be less than 200 milligrams per deciliter (mg/dl); a borderline high reading is between 200 and 239 mg/dl. If you are at risk for heart disease or stroke, make a plan with your doctor for how often you should have this blood test.</p>

<h3><b>Dental Checkup  </b></h3>
<p>Good dental health is important from the moment your first baby tooth sprouts, and all adult women need twice-yearly dental checkups. Through regular dental checkups, which involve cleaning and examining the teeth, along with X-rays, you can spot early signs of decay and any other problems. 

Because these tests are considered preventive, many insurance plans cover them. But while they're vital for your health, they can also be expensive — so check with your insurance company before making appointments, and check to see whether your community offers any of these tests for free. </p>

<h3><b>Bone Density Screening </b></h3>
<p>Women should start getting screened for osteoporosis with a bone density test at age 65. Those with risk factors for osteoporosis, such fractures or low body weight, should be screened earlier. For this test, called a DEXA scan, you lie on a table while a low-dose X-ray machine captures images of your bones. The frequency of this screening varies depending on bone density and other risk factors.</p>

</body>
</html>